* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    height: 300px;
    background-color: rgb(54, 43, 43);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.eye {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset -3px -3px 2px 1px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-ball {
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 50%;
    animation: 3s linear infinite circular;
}

@keyframes circular {
    from {transform: rotate(0deg) translateX(15px) rotate(0deg);}
    to {transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}